<nav id="navigationBarSection" class="section backgroundColorLight">
    <div id="logoSection" class="container">
        <a href="/">
            <img id="logo" src="../../../assets/images/svg/j-logo.svg"
                alt="Rich Joshua Alzate | Full-Stack Developer, Musician, Photographer">
        </a>
    </div>

    <div id="helloSection" class="container">
        <button id="helloButton">
            <span>
                Say Hello
            </span>
        </button>
    </div>

</nav>