<section id="homeSection" class="section">
    <div id="nameDetails" class="column detailsSection">
        <div id="avatar">
            <picture>
                <source srcset="../../../assets/images/webp/RJA_Avatar.webp" type="image/webp">
                <source srcset="../../../assets/images/jpeg/RJA_Avatar.png" type="image/png">
                <img id="avatarImage" alt="Rich Joshua Alzate | Full-Stack Developer, Musician, & Photographer">
            </picture>
        </div>
        <div id="textDetails">
            <h1 id="name" class="darkColor">Rich Joshua Alzate</h1>
            <h4 class="darkColor">Full-Stack Developer, Musician, & Photographer</h4>
        </div>

    </div>
    <div id="descriptionDetails" class="column detailsSection backgroundDark">
        <h1 class="lightColor">Hi, nice to meet you.</h1>
        <h4 class="lightColor">
            Everything started with passion for technologies. Curiosity how things work as it is, and desire to create
            things that makes a difference. I started nearly 3 years ago in Software Development field, I’ve worked from
            small start-up companies, up to big companies along the way. Collaborated with amazing people to build
            digital products for both business and consumer use. I enjoy designing, and coding beautifully simple
            things, my unequivocal love for making things, my ball of fire ethic to create something to make the world a
            better place.
        </h4>
    </div>
</section>