<section id="homeSection" class="section">
    <div id="nameDetails" class="column detailsSection">
        <div id="avatar">
            <picture>
                <source srcset="../../../assets/images/webp/RJA_Avatar.webp" type="image/webp">
                <source srcset="../../../assets/images/jpeg/RJA_Avatar.png" type="image/png">
                <img id="avatarImage" alt="Rich Joshua Alzate | Full-Stack Developer, Musician, & Photographer">
            </picture>
        </div>
        <div id="textDetails">
            <h1 id="name" class="darkColor">Rich Joshua Alzate</h1>
            <p class="darkColor">Full-Stack Developer, Musician, & Photographer</p>
        </div>
    </div>
    <div id="descriptionDetails" class="column detailsSection backgroundDark">
        <h1 class="lightColor">Hi, nice to meet you.</h1>
        <p class="lightColor">
            Everything started with passion for technologies. Curiosity how things work as it is, and desire to create
            things that makes a difference. I started nearly 3 years ago in Software Development field, I’ve worked from
            small start-up companies, up to big companies along the way. Collaborated with amazing people to build
            digital products for both business and consumer use. I enjoy designing, and coding beautifully simple
            things, my unequivocal love for making things, my ball of fire ethic to create something to make the world a
            better place.
        </p>
    </div>
</section>

<section id="skillSection" class="section">
    <div id="skillSVG">
        <picture>
            <source srcset="../../../assets/images/svg/career.svg">
            <img id="skillImage" alt="skill">
        </picture>
    </div>
    <div id="skillDetails">
        <div id="fullStackDetails" class="column">
            <img src="../../../assets/images/svg/code.svg">
            <h2>Developer</h2>
            <p class="skillIntroduction">
                This is what I do professionally, I love creating something that makes a dent to this whole world. This
                is my avenue to create something useful to everyone.
            </p>
            <h3>Languages I speak:</h3>
            <ul>
                <li>
                    <fa-icon [icon]="['fab','js-square']"></fa-icon>
                    JavaScript
                </li>
                <li>
                    <img src="../../../assets/images/svg/typescript.svg" class="icon">
                    TypeScript
                </li>
                <li>
                    <img src="../../../assets/images/svg/cs.svg" class="icon">
                    C#
                </li>
                <li>
                    <fa-icon [icon]="['fab','html5']"></fa-icon>
                    HTML
                </li>
                <li>
                    <fa-icon [icon]="['fab','css3-alt']"></fa-icon>
                    CSS
                </li>
                <li>
                    <fa-icon [icon]="['fab','sass']"></fa-icon>
                    SASS
                </li>
                <li>
                    <fa-icon [icon]="['fas','database']"></fa-icon>
                    SQL
                </li>
            </ul>
            <h3>Frameworks:</h3>
            <ul>
                <li>
                    <fa-icon [icon]="['fab','angular']"></fa-icon>
                    Angular
                </li>
                <li>
                    <img src="../../../assets/images/svg/asp.net.svg" class="icon">
                    ASP.Net
                </li>
                <li>
                    <fa-icon [icon]="['fab','node-js']"></fa-icon>
                    Node
                </li>
            </ul>

        </div>
        <div id="musicianDetails" class="column">
            <img src="../../../assets/images/svg/les-paul.svg">
            <h2>Musician</h2>
            <p class="skillIntroduction">
                I am enthusiastic on creating music that can mean different on every person, inspiring, and convering
                emotions into notes.
            </p>
            <h3>Instruments I play:</h3>
            <ul>
                <li>
                    <fa-icon [icon]="['fas','guitar']"></fa-icon>
                    Guitar
                </li>
                <li>
                    <img src="../../../assets/images/svg/piano.svg" class="icon">
                    Keys
                </li>
                <li>
                    <fa-icon [icon]="['fas','drum']"></fa-icon>
                    Percussions
                </li>
            </ul>
            <h3>Hardware/Software tools:</h3>
            <ul>
                <li>
                    <img src="../../../assets/images/svg/gibson.svg" class="icon">
                    Gibson Les Paul Modern
                </li>
                <li>
                    <img src="../../../assets/images/svg/marshall.svg" class="icon">
                    Marshall MG30FX
                </li>
                <li>
                    <img src="../../../assets/images/svg/audition_cc.svg" class="icon">
                    Adobe Audition CC
                </li>
                <li>
                    <img src="../../../assets/images/svg/audacity.svg" class="icon">
                    Audacity
                </li>
            </ul>
        </div>
        <div id="photographerDetails" class="column">
            <img src="../../../assets/images/svg/camera-retro.svg">
            <h2>Photographer</h2>
            <p class="skillIntroduction">
                I love capturing once in a lifetime moments that will last forever on a single photograph. It's an art
                to freeze moments, time, and space.
            </p>
            <h3>Gear that I use:</h3>
            <p>
                <img src="../../../assets/images/svg/samsung.svg" class="icon">
                Samsung S10+
            </p>
            <h3>Post-processing tools:</h3>
            <ul>
                <li>
                    <img src="../../../assets/images/svg/photoshop_cc.svg" class="icon">
                    Adobe Photoshop
                </li>
                <li>
                    <img src="../../../assets/images/svg/after_effects_cc.svg" class="icon">
                    Adobe After Effects
                </li>
                <li>
                    <img src="../../../assets/images/svg/illustrator_cc.svg" class="icon">
                    Adobe Illustrator
                </li>
                <li>
                    <img src="../../../assets/images/svg/snapseed.svg" class="icon">
                    Google Snapseed
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="companySection" class="section">
    <h2>Amazing organisations that I have collaborated with:</h2>
    <div id="companyList">
        <img src="../../../assets/images/svg/sgs.svg" alt="Société Générale de Surveillance" class="companyLogo column">
        <img src="../../../assets/images/svg/apex.svg" alt="Apex MobileTech" class="companyLogo column">
        <img src="../../../assets/images/svg/hong-leong-bank.svg" alt="Hong Leong Bank Berhad"
            class="companyLogo column">
    </div>
</section>

<section id="projectReachSection" class="section">
    <div id="container">
        <h2 class="column">
            Got an idea?
        </h2>
        <p class="column">
            Make that amazing idea of yours come to reality, let's talk about it over a cup of coffee.
        </p>
        <div class="column">
            <button id="contactButton">
                Let's do it!
            </button>
        </div>
    </div>
</section>