/* You can add global styles to this file, and also import other style files */
@import "./assets/sass-utilities/variable";

@mixin respond-to($keys...) {
    $value: null;
    @each $key in $keys {
        $value: append($value, map-get($breakpoints, $key), "comma");
    }

    @if $value != null {
        @media #{$value} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
    }
}

body {
    background-color: $color1;
    max-width: 100vh;
    overflow-x: hidden;
    margin: unset;
}

h1,
h2,
h3 {
    font-family: $titleFont;
}

h4,
h5 {
    font-family: $textFont;
}

p, ul {
    font-family: $textFont;
}

.section {
    width: 100vw;
    display: flex;
}

.column {
    flex-grow: 1;
}

.lightColor {
    color: $color1;
}

.darkColor {
    color: $color5;
}

.backgroundLight {
    background: $color1;
}

.backgroundDark {
    background: $color5;
}

#name {
    font-family: $nameFont;
}

.brandLogo {
    a {
        height: 6.2rem;
        object {
            height: inherit;
        }
    }
}

.icon{
    height: 14px;
    width: 14px;
}

@include respond-to(small-only, medium-only) {
    h1,
    h4 {
        text-align: center;
    }

    .brandLogo {
        a {
            height: 4.2rem;
        }
    }
}
